@import 'shared.scss';

#Preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;

  svg.loader-icon {
    animation: infinite-spinning 1s infinite;
    fill: #fff;
    width: px-to-rem(50);
    height: px-to-rem(50);
  }

  @keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
