{
  "extends": ["jam3"],
  "rules": {
    "prettier/prettier": "warn",
    "no-console": "off",
    "no-unused-vars": "warn",
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "ClassDeclaration": true,
          "MethodDefinition": false,
          "ArrowFunctionExpression": false,
          "FunctionExpression": false
        }
      }
    ]
  },
  "globals": {}
}
