## -------- Welcome to the Jam3 Generator gitignore --------
##
## Please add your generator ignores ordered by topics.
## See https://help.github.com/ignore-files/ for more about ignoring files.

# Global
.DS_Store
*.log*

# IDEs
.vscode
sketch
.idea

# Node & NPM
node_modules

# Build
test/output
/templates/build

# Stats
/templates/stats.html

# Testing
coverage

# Create React App Dev
bundle-size-analyzer.html
bundle-analyzer-report.html

# Dynamically built files
/templates/src/style/layout.scss

# Local env variables
.env.local
.env.*.local

# Documentation
/templates/public/components
/templates/public/styleguide
