## -------- Welcome to the Jam3 Generator gitignore --------
## 
## Please add your generator ignores ordered by topics.
## See https://help.github.com/ignore-files/ for more about ignoring files.

# Global
.DS_Store
*.log*

# IDEs
.vscode
sketch

# Node & NPM
node_modules

# Build
test/output