@import 'shared.scss';

.Pages {
  position: relative;
  text-align: center;
  margin-top: $navbar-height-mobile;

  @media (min-width: $layout-large) {
    margin-top: $navbar-height-desktop;
  }

  & > section {
    padding-bottom: 110px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @media (min-width: $layout-medium) {
      padding-bottom: 80px;
    }
  }
}
