// Fonts
//
// Location of all the font-families and font-related css

@import 'vars.scss';

$base-path: '../assets/fonts/';

@font-face {
  font-family: Spectral;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Spectral'), local(Spectral), local('Spectral-Regular'),
    url('#{$base-path}Spectral/woff2/Spectral-Regular.woff2') format('woff2'),
    url('#{$base-path}Spectral/woff/Spectral-Regular.woff') format('woff'),
    url('#{$base-path}Spectral/ttf/Spectral-Regular.ttf') format('truetype');
}
