// Globals
//
// Global styling, normalize overwritten

@import 'fonts.scss';
@import 'polyfills.scss';
@import 'shared.scss';

html {
  box-sizing: border-box;
  font-family: Spectral-Regular, sans-seif;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
