// Globals
//
// Global styling, normalize overwritten
@import 'fonts.scss';
@import 'polyfills.scss';
@import 'shared.scss';
@import 'scalable-font-size.scss';

html {
  box-sizing: border-box;
  @include font-regular;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  @include scalable-font();
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: px-to-rem(16);

  &.rotate-screen-visible {
    background-color: $rotate-screen-bg-color !important; // trick to avoid the iPhone X notch
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.only-aria-visible {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
  text-align: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;
}

ul,
dl,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li,
dt,
dd {
  margin: 0;
  padding: 0;
}

.MainTopNav {
  @include z-index(main-nav);
  background-color: $white;
  border-bottom: 1px solid rgba($black, 0.3);
  padding: 2rem $navbar-padding-mobile;

  @media (min-width: $layout-large) {
    padding: 2rem $navbar-padding-desktop;
  }

  .nav .nav-logo {
    width: px-to-rem(60);
  }
}

.HamburgerMenu {
  top: $navbar-height-mobile;
  @include z-index(sidebar);
  height: calc(100% - #{$navbar-height-mobile});
  border-left: 1px solid rgba($black, 0.3);
  background-color: $white;

  @media (min-width: $layout-medium) {
    max-width: px-to-rem(300);
  }
}

.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  @include z-index(foter);
  padding: 2rem $navbar-padding-mobile;

  @media (max-width: $layout-medium) {
    text-align: center;
  }

  @media (min-width: $layout-large) {
    padding: 2rem $navbar-padding-desktop;
  }

  .footer-copyright {
    margin: 2rem 0 0;
  }
}

.RotateScreen {
  @include z-index(rotate);
}
