// Globals
//
// Global styling, normalize overwritten
@import 'fonts.scss';
@import 'polyfills.scss';
@import 'shared.scss';
@import 'scalable-font-size.scss';
@import 'react-ui.scss';

html {
  box-sizing: border-box;
  @include font-regular;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  @include scalable-font();
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: px-to-rem(16);

  &.rotate-screen-visible {
    background-color: $rotate-screen-bg-color !important; // trick to avoid the iPhone X notch
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.only-aria-visible {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

a {
  color: inherit;
}

ul,
dl,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li,
dt,
dd {
  margin: 0;
  padding: 0;
}

.Footer {
  display: flex;
  justify-content: space-between;

  .footer-nav {
    display: inline-block;
  }
}
