// Sass Mixins
//
// More information about mixins in:
// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#mixins
// Add comment to every function

//
// https://github.com/eduardoboucas/include-media
// Include-media is a sass library that helps write consistent, manageable, and size agnostic
// media-queries.
//
// eg.
// body {
//   color : #FFF;
//   @include media(">phone", "<=tablet") {
//     color : #DDD;
//   }
// }
//
@import 'include-media/dist/_include-media';
// prettier-ignore
$breakpoints: (
  'phone': 320px,
  'phablet': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'full': 1280px,
  'large' : 1600px
) !default;

@import 'vars.scss';

/// Set Calibri Regular as font family
/// @example scss Input
///   .landing-section {
///     @include font-calibre-regular();
///   }
@mixin font-regular() {
  font-family: Calibre-Regular, #{$generic-fonts};
}

/// Improve animation performance for containers
/// @example scss Input
///   .card {
///     @include gpu();
///   }
@mixin gpu {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;

  .safari & {
    perspective: none; // otherwise text and icons become blurry
  }
}

/// Set exactly the same width and height of a component, avoid repeat the same dimension
/// @parameter {Measure unit} $width - Specify width of the box
/// @parameter {Measure unit} $height [$width] - Specify height of the box, the default value is the width
/// @example scss Input
///   .card {
///     @include box(3.2rem);
///   }
///   .card-another {
///     @include box(3.2rem, 2rem);
///   }
@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}
