@import 'shared.scss';

$footer-height-mobile: 8rem;
$footer-height-desktop: 8rem;

.Footer {
  @include flex-center-vert;
  width: 100%;
  height: $footer-height-mobile;
  padding: 0 $navbar-padding-mobile;
  color: $white;
  background: $black;

  @media (min-width: $layout-large) {
    height: $footer-height-desktop;
    padding: 0 $navbar-padding-destkop;
  }

  .footer-global {
    @include flex-center-vert;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;

    @media (min-width: $layout-medium) {
      flex-direction: row;
    }
  }

  .footer-nav {
    .nav-list {
      display: flex;

      li {
        padding: px-to-rem(5);
      }

      a {
        color: inherit;
      }
    }
  }

  .footer-copyright {
    font-size: px-to-rem(20);
  }
}
