@import 'shared.scss';

.Landing {
  text-align: center;

  &-logo {
    animation: Landing-logo-spin infinite 20s linear;
    height: px-to-rem(80);
  }

  &-header {
    background-color: #222;
    height: px-to-rem(150);
    padding: px-to-rem(20);
    color: white;
  }

  &-title {
    font-size: 1.5em;
  }

  &-intro {
    font-size: large;
  }

  @keyframes Landing-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
