@import 'shared.scss';

.Rotate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;

  .container {
    p {
      color: #fff;
      font-size: px-to-rem(15);
      line-height: 120%;
      margin-top: px-to-rem(20);
      text-align: center;
    }

    .rotate-icon {
      margin: auto;
      width: px-to-rem(100);

      svg {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}
