@import 'shared.scss';

$content-padding-mobile: px-to-rem(5);
$content-padding-desktop: px-to-rem(10);

// ====================================================================
// Global top nav bar
// ====================================================================
#top-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $navbar-height-mobile;
  padding: 0 $navbar-padding-mobile;
  border-bottom: 1px solid rgba($grey-med, 1);
  background: $white;

  nav {
    @include flex-center-vert;
    justify-content: space-between;
    @include box(100%);
  }

  .nav-logo {
    width: px-to-rem(50);
    height: auto;
  }

  .desktop-layout & {
    height: $navbar-height-desktop;
    padding: 0 $navbar-padding-destkop;
  }
}

// ====================================================================
// mobile side nav
// ====================================================================
#side-nav {
  position: fixed;
  top: $navbar-height-mobile;
  right: 0;
  @include z-index(sidebar);
  transform: translateX(100%);
  width: 100%;
  height: calc(100% - #{$navbar-height-mobile});
  border-left: 1px solid rgba($grey-med, 1);
  background: $white;
  @include flex-center;
  opacity: 0;

  .tablet-layout & {
    width: 35%;
  }
}

// ====================================================================
// global nav list
// ====================================================================
.nav-list {
  a {
    font-size: px-to-rem(20);
    color: $black;
  }

  #top-main-nav & {
    .desktop-layout & {
      li {
        display: inline-block;
        padding: $content-padding-mobile;
        margin-left: $content-padding-mobile * 2;
      }
    }
  }

  #side-nav & {
    li {
      padding: $content-padding-mobile;
    }
  }
}
