## -------- Welcome to the Jam3 Generator gitignore --------
##
## Please add your generator ignores ordered by topics.
## See https://help.github.com/ignore-files/ for more about ignoring files.

# Global
.DS_Store
*.log*

# IDEs
.vscode
sketch

# Node & Npm
node_modules

# Builds
/build

# Stats
stats.html

# Testing
/coverage

# Create React App Dev
default-cra-rewrite-config.json
final-cra-rewrite-config.json
bundle-size-analizer.html

# CSS files of src
src/**/*.css

# Documentation
public/components
public/styleguide
